/*
    font-family: "IBM Plex Mono", monospace;
  font-family: "News Cycle",
  sans-serif;

*/

* {
    --primaryWhite: white;
    --primaryBlack: black;
    --emphasisRed: #C20000;
    --size: 12px;
}